<a href="https://colab.research.google.com/github/DayeMorga28/Proyecto_Uber_Phyton/blob/main/Uber_BaseDatos_Viajes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##################################################################################
#         U B E R   Y   O T R O S   S E R V I C I O S                            #
##################################################################################

In [4]:
# Carga de librerias
import pandas as pd

In [30]:
i = 10
url = 'https://raw.githubusercontent.com/DayeMorga28/Proyecto_Uber_Phyton/main/uber-raw-data-'+str(i)+'14.csv'
url

'https://raw.githubusercontent.com/DayeMorga28/Proyecto_Uber_Phyton/main/uber-raw-data-1014.csv'

In [39]:
# 2. Carga de datos de viajes de 2014.

dict_datos = {}

for i in range(4, 15):
  try:
    if (i < 10):
      url = 'https://raw.githubusercontent.com/DayeMorga28/Proyecto_Uber_Phyton/main/uber-raw-data-0'+str(i)+'14.csv'
    else:
      url = 'https://raw.githubusercontent.com/DayeMorga28/Proyecto_Uber_Phyton/main/uber-raw-data-'+str(i)+'14.csv'
    df_travels = pd.read_csv(url)
    dict_datos[i-4] = df_travels
  except:
    continue

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
lista_de_dataframes = []

for i in range(0, 11):
    lista_de_dataframes.append(dict_datos[i])

In [58]:
df_travels_ubers_2014 = pd.concat(lista_de_dataframes, axis=0).reset_index(drop=True)

In [59]:
df_travels_ubers_2014.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [60]:
df_travels_ubers_2014.tail()

                  Date/Time      Lat      Lon    Base
5968217  9/30/2014 22:57:00  40.7668 -73.9845  B02764
5968218  9/30/2014 22:57:00  40.6911 -74.1773  B02764
5968219  9/30/2014 22:58:00  40.8519 -73.9319  B02764
5968220  9/30/2014 22:58:00  40.7081 -74.0066  B02764
5968221  9/30/2014 22:58:00  40.7140 -73.9496  B02764

In [61]:
df_travels_ubers_2014.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [62]:
# Renombrando columnas
column_name_mapping = {
    'Date/Time': 'Fecha',
    'Lat': 'Latitud',
    'Lon': 'Longitud',
    'Base': 'id_base'
}

In [66]:
df_travels_ubers_2014_renamed = df_travels_ubers_2014.rename(columns=column_name_mapping)
df_travels_ubers_2014_renamed

                      Fecha  Latitud  Longitud id_base
0          4/1/2014 0:11:00  40.7690  -73.9549  B02512
1          4/1/2014 0:17:00  40.7267  -74.0345  B02512
2          4/1/2014 0:21:00  40.7316  -73.9873  B02512
3          4/1/2014 0:28:00  40.7588  -73.9776  B02512
4          4/1/2014 0:33:00  40.7594  -73.9722  B02512
...                     ...      ...       ...     ...
5968217  9/30/2014 22:57:00  40.7668  -73.9845  B02764
5968218  9/30/2014 22:57:00  40.6911  -74.1773  B02764
5968219  9/30/2014 22:58:00  40.8519  -73.9319  B02764
5968220  9/30/2014 22:58:00  40.7081  -74.0066  B02764
5968221  9/30/2014 22:58:00  40.7140  -73.9496  B02764

[5968222 rows x 4 columns]

In [67]:
df_travels_ubers_2014_renamed.dtypes

Fecha        object
Latitud     float64
Longitud    float64
id_base      object
dtype: object

In [68]:
# Cambio el tipo de dato de caracter a datetime
df_travels_ubers_2014_renamed['Fecha'] = pd.to_datetime(df_travels_ubers_2014_renamed['Fecha'])

In [69]:
df_travels_ubers_2014_renamed.head()

                Fecha  Latitud  Longitud id_base
0 2014-04-01 00:11:00  40.7690  -73.9549  B02512
1 2014-04-01 00:17:00  40.7267  -74.0345  B02512
2 2014-04-01 00:21:00  40.7316  -73.9873  B02512
3 2014-04-01 00:28:00  40.7588  -73.9776  B02512
4 2014-04-01 00:33:00  40.7594  -73.9722  B02512

In [71]:
df_travels_ubers_2014_renamed.isna().sum()

Fecha       1433895
Latitud     1433895
Longitud    1433895
id_base     1433895
dtype: int64

In [75]:
df_travels_ubers_2014_clean =  df_travels_ubers_2014_renamed.dropna(axis=0, how='all')

In [76]:
df_travels_ubers_2014_clean.isna().sum()

Fecha       0
Latitud     0
Longitud    0
id_base     0
dtype: int64

In [77]:
def nombre_dia_semana(valor):
    
    ndia = valor.weekday()
    if ndia == 1: return 'Lunes'
    elif ndia == 2: return 'Martes'
    elif ndia == 3: return 'Miercoles'
    elif ndia == 4: return 'Jueves'
    elif ndia == 5: return 'Viernes'
    elif ndia == 6: return 'Sabado'
    else: return 'Domingo'

In [78]:
# Se agrega el campo DiaSemana
df_travels_ubers_2014_clean['DiaSemana'] = df_travels_ubers_2014_clean['Fecha'].apply(nombre_dia_semana)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [79]:
def get_year(valor):
    return valor.year

In [80]:
# Se agrega el campo Anio
df_travels_ubers_2014_clean['Anio'] = df_travels_ubers_2014_clean['Fecha'].apply(get_year)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [81]:
def get_month(valor):
    return valor.month

In [82]:
# Se agrega el campo Mes
df_travels_ubers_2014_clean['Mes'] = df_travels_ubers_2014_clean['Fecha'].apply(get_month)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
def get_day(valor):
    return valor.day

In [84]:
# Se agrega el campo Dia
df_travels_ubers_2014_clean['Dia'] = df_travels_ubers_2014_clean['Fecha'].apply(get_day)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
def get_hour(valor):
    return valor.hour

In [86]:
# Se agrega el campo Hora
df_travels_ubers_2014_clean['Hora'] = df_travels_ubers_2014_clean['Fecha'].apply(get_hour)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
def get_minute(valor):
    return valor.minute

In [88]:
# Se agrega el campo Minuto
df_travels_ubers_2014_clean['Minuto'] = df_travels_ubers_2014_clean['Fecha'].apply(get_minute)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [89]:
df_travels_ubers_2014_clean.head()

                Fecha  Latitud  Longitud id_base  ... Mes  Dia  Hora  Minuto
0 2014-04-01 00:11:00  40.7690  -73.9549  B02512  ...   4    1     0      11
1 2014-04-01 00:17:00  40.7267  -74.0345  B02512  ...   4    1     0      17
2 2014-04-01 00:21:00  40.7316  -73.9873  B02512  ...   4    1     0      21
3 2014-04-01 00:28:00  40.7588  -73.9776  B02512  ...   4    1     0      28
4 2014-04-01 00:33:00  40.7594  -73.9722  B02512  ...   4    1     0      33

[5 rows x 10 columns]

In [90]:
df_travels_ubers_2014_clean.isna().sum()

Fecha        0
Latitud      0
Longitud     0
id_base      0
DiaSemana    0
Anio         0
Mes          0
Dia          0
Hora         0
Minuto       0
dtype: int64

In [91]:
df_travels_abril_sum_bases = df_travels_ubers_2014_clean.groupby('id_base').size()
df_travels_abril_sum_bases.sort_values(ascending=False)

id_base
B02617    1458853
B02598    1393113
B02682    1212789
B02764     263899
B02512     205673
dtype: int64

In [92]:
df_travels_abril_sum_hora = df_travels_ubers_2014_clean.groupby('Hora').size()
df_travels_abril_sum_hora.sort_values(ascending=False)

Hora
17    336190
18    324679
16    313400
19    294513
20    284604
21    281460
15    275466
22    241858
14    230625
13    195877
7     193094
8     190504
12    170452
23    169190
11    165703
9     159967
10    159148
6     143213
0     103836
5      83939
1      67227
4      55230
3      48287
2      45865
dtype: int64