In [ ]:
##################################################################################
#         U B E R   Y   O T R O S   S E R V I C I O S                            #
##################################################################################

In [1]:
# Carga de librerias
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# 2. Carga de datos de viajes de abril.
df_travels_abril = pd.read_csv('../uber-raw-data-apr14.csv')
df_travels_abril.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [3]:
df_travels_abril.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [4]:
# Renombrando columnas
column_name_mapping = {
    'Date/Time': 'Fecha',
    'Lat': 'Latitud',
    'Lon': 'Longitud',
    'Base': 'id_base'
}

In [5]:
df_travels_abril_renamed = df_travels_abril.rename(columns=column_name_mapping)
df_travels_abril_renamed

                     Fecha  Latitud  Longitud id_base
0         4/1/2014 0:11:00  40.7690  -73.9549  B02512
1         4/1/2014 0:17:00  40.7267  -74.0345  B02512
2         4/1/2014 0:21:00  40.7316  -73.9873  B02512
3         4/1/2014 0:28:00  40.7588  -73.9776  B02512
4         4/1/2014 0:33:00  40.7594  -73.9722  B02512
...                    ...      ...       ...     ...
564511  4/30/2014 23:22:00  40.7640  -73.9744  B02764
564512  4/30/2014 23:26:00  40.7629  -73.9672  B02764
564513  4/30/2014 23:31:00  40.7443  -73.9889  B02764
564514  4/30/2014 23:32:00  40.6756  -73.9405  B02764
564515  4/30/2014 23:48:00  40.6880  -73.9608  B02764

[564516 rows x 4 columns]

In [8]:
df_travels_abril_renamed.dtypes

Fecha       datetime64[ns]
Latitud            float64
Longitud           float64
id_base             object
dtype: object

In [7]:
# Cambio el tipo de dato de caracter a datetime
df_travels_abril_renamed['Fecha'] = pd.to_datetime(df_travels_abril_renamed['Fecha'])

In [18]:
def nombre_dia_semana(valor):
    ndia = dtt.date(valor).isoweekday
    if ndia == 1: return 'Lunes'
    elif ndia == 2: return 'Martes'
    elif ndia == 3: return 'Miercoles'
    elif ndia == 4: return 'Jueves'
    elif ndia == 5: return 'Viernes'
    elif ndia == 6: return 'Sabado'
    else: return 'Domingo'

In [20]:
# Se agrega el campo DiaSemana
# df_travels_abril_renamed['DiaSemana'] = 
df_travels_abril_renamed['Fecha'].apply(nombre_dia_semana)

TypeError: an integer is required (got type Timestamp)

In [24]:
# Se agrega el campo Anio
# df_travels_abril_renamed['Anio'] = 
dtt.year(df_travels_abril_renamed['Fecha'])

AttributeError: module 'datetime' has no attribute 'year'

In [ ]:
# Se agrega el campo Mes
df_travels_abril_renamed['Mes'] =

In [ ]:
# Se agrega el campo Dia
df_travels_abril_renamed['Dia'] =

In [ ]:
# Se agrega el campo Hora
df_travels_abril_renamed['Hora'] =

In [ ]:
# Se agrega el campo Minuto
df_travels_abril_renamed['Minuto'] =

In [ ]:
df_travels_abril_renamed.head()